body{
    overflow-x: hidden;
    max-width: 1600px;
}

*{
    margin:0;
    box-sizing: border-box;
}

.section_one{
    position: absolute;
    height: 780px;
    width: 100%;
    right: 0px;
    top: 0px;
}
a{
    text-decoration: none;
}

.giant_panda_img{
    position: absolute;
    width: 100%;
height: 780px;
left: 0px;
top: 0px;

background: url('../../assets/images/Giant\ Panda.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

header{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 80px;
    right: 0px;
    top: 0px;
    
    background: #000000;
    backdrop-filter: blur(2px);
}

.logo_header{
    position: absolute;
width: 82px;
height: 52px;
left: 220px;
top: 14px;
}

.logo_text{
    box-sizing: border-box;

position: absolute;
width: 72.49px;
height: 44.91px;
left: 4.75px;
top: 3.55px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;

text-align: center;

color: #FFFFFF;

border: 1.18841px solid #FFFFFF;
margin:0;
}

.logo_img{
    box-sizing: border-box;

position: absolute;
width: 7.03px;
height: 20.98px;
left: 13.23px;
top: 24.64px;
}

.header_about{
    position: absolute;
width: 43px;
height: 22px;
left: 365px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* orange */

color: #FE9013;

}

.header_map{
    position: absolute;
width: 32px;
height: 22px;
left: 466px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;

color: #FFFFFF;
margin:0;
}

.header_zoos{
    position: absolute;
width: 36px;
height: 22px;
left: 556px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
}

.header_donate{
    position: absolute;
width: 51px;
height: 22px;
left: 650px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
}

.margin_zero{
    margin:0;
}

.header_contact{
    position: absolute;
width: 78px;
height: 22px;
left: 759px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;

}

.header_design{
    position: absolute;
width: 105px;
height: 22px;
left: 1275px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
}

.ellipse{
    position: absolute;
width: 465px;
height: 465px;
left: calc(50% - 465px/2 + 239.5px);
top: 92px;
border-radius: 500px;

/* orange */

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.text_ellipse{
    position: absolute;
width: 500.31px;
height: 400px;
left: calc(50% - 500.31px/2 + 330.15px);
top: 166px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 106.496px;
line-height: 75%;
/* or 80px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_button{
    position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2 + 332px);
top: 626px;

/* orange */

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
border:0;
}

.button_text{
    position: absolute;
width: 292px;
height: 22px;
left: 5px;
top: 16px;

/* btn. */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.header_button:hover{background: #E47209;
    cursor:pointer;}
.header_button:active{background: #4B9200;
    cursor:pointer;}
.header_button:disabled{background: #767474;}

a:hover{color:#FE9013;
    cursor:pointer;}


.section_second{
    position: absolute;
    display: flex;
    flex-direction: column;
height: 403px;
width: 100%;
left: 219px;
right: 220px;
top: 920px;

}

.bamboo_hat{
    position: absolute;
width: 609px;
height: 403px;
left: 0px;
top: 0px;

background: url('../../assets/images/bamboo-cap.png');
backdrop-filter: blur(2px);
}

.second_text{
    position: absolute;
height: 116px;
    max-width: 465px;
left: 696px;
right: 0px;
top: 0px;

/* h2 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
/* or 58px */


color: #333B41;
}

.second_text2{
    position: absolute;
    height: 42px;
    max-width: 465px;
    left: 696px;
    right: 0px;
    top: 136px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    
    
    color: #333B41;
    

}

.second_text3{
    position: absolute;
width: 217px;
height: 29px;
left: 696px;
top: 232px;

/* subtitle */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */


color: #333B41;
}

.second_text4{
    position: absolute;
height: 105px;
    max-width: 465px;
left: 696px;
right: 0px;
top: 295px;

/* body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #333B41;
}

.second_img{
    position: absolute;
width: 200px;
height: 605px;
right: 0px;
top: 792px;

background: url('../../assets/images/flower_foto1.png');
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section_third{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
width: 1158px;
height: 872px;
left: calc(50% - 1158px/2 - 1px);
top: 1503px;

background: #FFFFFF;
}

.section_card{
    box-sizing: border-box;

position: relative;
width: 366px;
height: 426px;
margin-left: 30px;
border: 1px solid #FA6F32;
border-radius: 5px;
overflow: hidden;




border-radius: 5px;
}
.margin_left_zero{
    margin-left: 0px;
}

.margin_bottom{
    margin-bottom: 20px;
}

.nav_choose_right{
    position: absolute;
width: 62px;
height: 62px;
right: 140px;
top: 1906px;

}

.nav_elipse_right{
    position: absolute;
width: 62px;
height: 62px;
right: 0px;
top: 0px;
border-radius: 500px;

/* orange */

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.nav_image{
    position: absolute;
left: 37.1%;
right: 37.1%;
top: 43.55%;
bottom: 43.55%;


}

.nav_choose_left{
    position: absolute;
width: 62px;
height: 62px;
left: 138px;
top: 1906px;

}

.nav_elipse_left{
    position: absolute;
width: 62px;
height: 62px;
left: 0px;
top: 0px;
border-radius: 500px;

/* orange */

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.nav_elipse_left:hover{background: #4B9200;
    cursor:pointer;}
.nav_elipse_right:hover{background: #4B9200;
    cursor:pointer;}

.banana_bamboo_icon{
    position: absolute;
width: 33px;
height: 37px;
left: 321px;
top: 376px;

}

.Animal_box{
    position: absolute;
width: 366px;
height: 366px;
left: 0px;
top: 0px;
overflow: hidden;

}

.Animal_box:hover .Animal_hover_box{
    bottom: 150px;
}

.Animal_box:hover .Cards_icon{
 transform: scale(1.3);
}

.Hover_title{
    position: absolute;
    top: 25px;
    width: 50%;
    height: 40px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
/* or 22px */

text-transform: uppercase;

color: #FFFFFF;
}

.Hover_nav{
    position: absolute;
    top: 70px;
    width: 225px;
    height: 65px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #000000; 
opacity: 1;
}


.Cards_icon{
    position: absolute;
width: 366px;
height: 366px;
left: 0px;
top: 0px;
transition: 1s ease-in-out;
}

.Animal_hover_box{
    position:absolute;
    display: flex;
    justify-content: center;
    width: 366px;
    height: 125px;
    background-color: #333B41;
    opacity: 0.4;
    bottom: -125px;
    transition: 1s ease;
}

.Hover{
    bottom:175px;
}

.Cards_text{
    position: absolute;
width: 294px;
height: 22px;
left: 16px;
top: 374px;

/* btn. */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-transform: uppercase;

color: #000000;
}

.Cards_geo{
    position: absolute;
width: 294px;
height: 18px;
left: 16px;
top: 394px;

/* smallParagraph */

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */


color: #000000;

}

.meat_fish_icon{
    position: absolute;
width: 48px;
height: 38px;
left: 310px;
top: 374px;

}

.strelitzia{
    position: absolute;
    width: 368px;
    height: 275px;
    right: 0px;
    top: 2334px;
    
    background: url('../../assets/images/strelitzia 1.png');
}

.palm{
    position: absolute;
    width: 292px;
    height: 460px;
    left: 0px;
    top: 2149px;
    background: url('../../assets/images/palm_foto.png');
}

.Choose_your_favorite{
    position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2);
top: 2455px;
border: 0;

/* or3 */

background: #FE9013;
border-radius: 25px;
}

.favorite_text{
    position: absolute;
width: 292px;
height: 22px;
left: 5px;
top: 16px;

/* btn. */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}

.Choose_your_favorite:hover{background: #4B9200;
    cursor:pointer;}

.section_fourth{
    position: absolute;
height: 1004px;
left: 0px;
right: 0px;
top: 2609px;
}

.section_bg{
    position: absolute;
    height: 1004px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    /* orange_gradient */
    
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.Pick_and_feed_block{
    position: absolute;
height: 835px;
left: 220px;
right: 220px;
top: 69px;

/* frosted_glass_white */

background: rgba(253, 253, 255, 0.52);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
}

.Block_name{
    position: absolute;
width: 463px;
height: 58px;
left: calc(50% - 463px/2 + 1.5px);
top: 110px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

text-align: center;

color: #FE9013;

}

.Block_text_one{
    position: absolute;
height: 29px;
left: calc(50% - 843px/2 - 59.5px);
top: 198px;

/* subtitle */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */


color: #333B41;
}

.Block_text_two{
    position: absolute;
width: 1061px;
height: 21px;
left: calc(50% - 1061px/2 + 49.5px);
top: 267px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */


color: #333B41;

}

.Block_text_third{
    position: absolute;
width: 863px;
height: 42px;
left: calc(50% - 863px/2 - 49.5px);
top: 298px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #333B41;
}

.Block_underline{
    position: absolute;
width: 178px;
height: 1px;
left: calc(50% - 178px/2 - 305px);
top: 341px;

/* or3 */

background: #FE9013;
}

.Block_How{
    position: absolute;
width: 209px;
height: 47px;
left: calc(50% - 209px/2 - 0.5px);
top: 400px;

/* h3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
/* identical to box height, or 47px */


color: #333B41;

}

.Widget_one{
    position: absolute;
width: 168px;
height: 244px;
left: calc(50% - 168px/2 - 298px);
top: 487px;

border-radius: 5px;
}

.Widget_two{
    position: absolute;
width: 168px;
height: 244px;
left: calc(50% - 168px/2);
top: 487px;

border-radius: 5px;
}

.Widget_three{
    position: absolute;
width: 168px;
height: 244px;
left: calc(50% - 168px/2 + 298px);
top: 487px;

border-radius: 5px;
}

.Widget_block{
    box-sizing: border-box;

position: absolute;
width: 168px;
height: 168px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 5px;
border: 1px solid#FE9013 ;
}

.Widget_img_one{
    position: absolute;
width: 108px;
height: 60px;
left: 30px;
top: 54px;

}

.Widget_img_two{
    position: absolute;
left: 41.23px;
right: -26.65%;
top: 38px;
bottom: 45.49%;

}

.Widget_img_three{
    position: absolute;
left: 22px;
right: 12.65%;
top: 48px;
bottom: 50.98%;

}

.Widget_text{
    position: absolute;
width: 168px;
height: 46px;
left: 0px;
top: 198px;

/* body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #333B41;
}

.Block_arrow_first{
    position: absolute;
width: 69px;
height: 35.08px;
left: 616px;
top: 549px;

}

.Block_arrow_second{
    position: absolute;
width: 69px;
height: 35.08px;
left: 914px;
top: 545px;
}

.Block_button{
    position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2);
top: 791px;
border: 0;

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
}

.Button_block_text{
    position: absolute;
width: 292px;
height: 22px;
left: 5px;
top: 16px;

/* btn. */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}

.Block_button:hover{background: #4B9200;
cursor:pointer;}

.section_fifth{
    position: absolute;
height: 575px;
left: 220px;
right: 220px;
top: 3753px;
}

.line_scroll{
    box-sizing: border-box;

position: absolute;
width: 599px;
height: 8px;
left: calc(50% - 599px/2 - 0.5px);
top: 506px;

background: #F5F7F6;
border-radius: 5px;
}

.line_scroll_active{
    position: absolute;
width: 115.19px;
height: 6px;
left: calc(50% - 115.19px/2 - 242.4px);
top: 507px;

/* or3 */

background: #FE9013;
border-radius: 5px;
}

.Testimonials_name{
    position: absolute;
width: 206px;
height: 47px;
left: calc(50% - 206px/2);
top: 0px;

/* h3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
/* identical to box height, or 47px */

text-align: center;

color: #333B41;
}

.Testimonials_first{
    box-sizing: border-box;

position: absolute;
width: 268px;
height: 391px;
left: calc(50% - 268px/2 - 446px);
top: 94px;
border: 2px solid;

border-image-source: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);



/* gray_light */

background: #F1F3F2;
border-radius: 20px;
}

.Testimonials_second{
    box-sizing: border-box;

position: absolute;
width: 268px;
height: 391px;
left: calc(50% - 268px/2 - 148px);
top: 94px;
border: 2px solid;

border-image-source: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);



/* gray_light */

background: #F1F3F2;
border-radius: 20px;
}

.Testimonials_third{
    box-sizing: border-box;

position: absolute;
width: 267px;
height: 391px;
left: calc(50% - 267px/2 + 148.5px);
top: 94px;
border: 2px solid;

border-image-source: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);



/* gray_light */

background: #F1F3F2;
border-radius: 20px;
}

.Testimonials_fourth{
    box-sizing: border-box;

position: absolute;
width: 266px;
height: 391px;
left: calc(50% - 266px/2 + 447px);
top: 94px;
border: 2px solid;

border-image-source: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);



/* gray_light */

background: #F1F3F2;
border-radius: 20px;
}

.user_icon{
    position: absolute;
width: 37px;
height: 37px;
left: 16px;
top: 15px;

}

.user_name_first{
    position: absolute;
width: 97px;
height: 19px;
left: 63px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */


color: #000000;
}

.user_name_second{
    position: absolute;
width: 126px;
height: 19px;
left: 63px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */


color: #000000;
}

.user_name_third{
    position: absolute;
width: 139px;
height: 19px;
left: 63px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */


color: #000000;

}

.user_name_fourth{
    position: absolute;
width: 97px;
height: 19px;
left: 63px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */


color: #000000;

}

.user_date{
    position: absolute;
width: 41px;
height: 18px;
left: 166px;
top: 35px;

/* smallParagraph */

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */


/* Gray 4 */

color: #BDBDBD;
}

.first{
    width: 65px;
}

.user_point{
    position: absolute;
width: 5px;
height: 18px;
left: 156px;
top: 35px;

/* smallParagraph */

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */


/* Gray 4 */

color: #BDBDBD;
}

.user_position{
    position: absolute;
width: 87px;
height: 18px;
left: 63px;
top: 35px;

/* smallParagraph */

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */


/* Gray 4 */

color: #BDBDBD;
}

.user_text_box{
    position: absolute;
    width: 237px;
    height: 309px;
    left: 16px;
    top: 63px;
    overflow: hidden;
}

.user_text{
    position: absolute;
    width: 237px;
    height: 309px;
    left: 0px;
    top: 0px;
    
    /* smallParagraph */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* or 18px */
    
    
    /* gray */
    
    color: #767474;
}

.Button_feedback{
    position: absolute;
width: 298px;
height: 54px;
left: 0px;
top: 545px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 5px;
border:0;
}

.feedback_text{
    position: absolute;
width: 298px;
height: 22px;
left: calc(50% - 298px/2);
top: 16px;

/* btn. */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.Button_feedback:hover{background: #4B9200;
    cursor:pointer;}

.leav_img{
    position: absolute;
    width: 300.92px;
    height: 295.45px;
    right:0px;
    top: 4257.52px;

}

footer{
    position: absolute;
height: 443px;
left: 0px;
right: 0px;
top:4532px;
}

.footer_bg{
    position: absolute;
height: 443px;
left: 0px;
right: 0px;
bottom: 0px;

background: #111115;
}

.logo_footer{
    position: absolute;
width: 82px;
height: 52px;
left: 220px;
top: 41px;
}

.logo_text_footer{
    box-sizing: border-box;

position: absolute;
width: 72.49px;
height: 44.91px;
left: 224.75px;
top: 41.55px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;
/* or 23px */

text-align: center;

color: #FFFFFF;

border: 1.18841px solid #FFFFFF;
}

.footer_zoos{
    position: absolute;
    width: 36px;
    height: 22px;
    left: calc(50% - 36px/2 + 28px);
    bottom: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    
    
    color: #FFFFFF;
    
}

.footer_about{
    position: absolute;
    width: 43px;
    height: 22px;
    left: calc(50% - 43px/2 - 159.5px);
    bottom: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #FFFFFF;
}

.footer_contact{
    position: absolute;
    width: 77px;
    height: 22px;
    left: calc(50% - 77px/2 + 142.5px);
    bottom: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    
    
    color: #FFFFFF;
}
.footer_map{
    position: absolute;
    width: 32px;
    height: 22px;
    left: calc(50% - 32px/2 - 64px);
    bottom: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    
    
    color: #FFFFFF;
    
}

.button_footer{
    position: absolute;
width: 298px;
height: 54px;
left: 220px;
top: 161px;

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 5px;
border:0;
}

.footer_button_text{
    position: absolute;
width: 298px;
height: 22px;
left: calc(50% - 298px/2);
top: 16px;

/* btn. */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.button_footer:hover{background: #4B9200;
    cursor:pointer;}

.subscribe{
    position: absolute;
    width: 237px;
    height: 29px;
    right: 350px;
    top: 40px;
    
    /* subtitle */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    
    
    color: #FFFFFF;
}

.input_footer{position: absolute;
    width: 228px;
    height: 42px;
    right: 359px;
    top: 83px;
    border-radius: 2px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);


    border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    
    
}

.input_footer:focus{border: 0.7px solid #4B9200;}

.footer_button{
    position: absolute;
width: 129px;
height: 42px;
right: 220px;
top: 83px;

background: #F1F3F2;
/* Green */

border: 1px solid #4B9200;
border-radius: 5px;
}

.button_footer_text_two{
    position: absolute;
left: 30.23%;
right: 30.23%;
top: 23.81%;
bottom: 23.81%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* Green */

color: #4B9200;

}

.rsschool{
    position: absolute;
width: 220px;
height: 21px;
right: 228px;
bottom: 81px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */


color: #FFFFFF;

}

.rsschool2{
    position: absolute;
width: 228px;
height: 21px;
right: 220px;
bottom: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */


color: #FFFFFF;

}

.facebook{
    position: absolute;
width: 111px;
height: 26px;
left: 220px;
bottom: 158px;

}

.twiter{
    position: absolute;
width: 89px;
height: 26px;
left: 220px;
bottom: 122px;
}

.instagram{
    position: absolute;
width: 110px;
height: 26px;
left: 220px;
bottom: 86px;

}

.youtube{
    position: absolute;
width: 101px;
height: 26px;
left: 220px;
bottom: 50px;
}

.footer_elipse1{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0px;
    top: 0px;
    border-radius: 500px;
    
    background: rgba(196, 196, 196, 0.5);
}

.footer_elipse2{
    position: absolute;
width: 26px;
height: 26px;
left: 0px;
top: 0px;

background: rgba(196, 196, 196, 0.5);
}

.footer_elipse{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0px;
    top: 0px;
    border-radius: 500px;
    
    background: rgba(196, 196, 196, 0.5);
}

.footer_img{
    position: absolute;
width: 18px;
height: 12.99px;
left: 4px;
top: 6px;

}

.footer_text{
    position: absolute;
width: 73px;
height: 21px;
left: 38px;
top: 5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
}

@media screen and (max-width:1599px) {
    .section_one{
    height: 584px;

    }

    header{
        position: absolute;
    height: 80px;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;

    }

    .logo_header{
        position: absolute;
    width: 82px;
    height: 52px;
    left: 30px;
    top: 14px;
    }

    .header_about{
        position: absolute;
    width: 43px;
    height: 22px;
    left: 175px;
    top: 29px;
    }

    .header_map{
        position: absolute;
    width: 32px;
    height: 22px;
    left: 266px;
    top: 29px;
    }

    .header_zoos{
        position: absolute;
    width: 36px;
    height: 22px;
    left: 346px;
    top: 29px;
    }

    .header_donate{
        position: absolute;
    width: 51px;
    height: 22px;
    left: 430px;
    top: 29px;
    }

    .header_contact{
        position: absolute;
    width: 77px;
    height: 22px;
    left: 529px;
    top: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    }

    .header_design{
        position: absolute;
    width: 105px;
    height: 22px;
    left: 865px;
    top: 29px;
    }

    .header_button{
        position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 214px);
    top: 483px;
    }

    .text_ellipse{
        position: absolute;
width: 400.25px;
height: 320px;
left: calc(50% - 400.25px/2 + 214.12px);
top: 122.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 85px;
line-height: 75%;
/* or 64px */

text-align: center;
text-transform: uppercase;

    }

    .giant_panda_img{
        position: absolute;
    height: 584px;
    left: 0px;
    top: 0px;
    }

    .ellipse{
        width: 367px;
    height: 367px;
    left: calc(50% - 367px/2 + 139.5px);
    top: 69px;
    }

    .section_second{
        position: relative;
    height: 427px;
    max-width: 940px;
    left: 0px;
    right: 0px;
    top: 684px;
    margin: 0 auto;
    }

    .bamboo_hat{
        position: absolute;
        width: 455px;
        height: 408px;
        left: 0px;
        top: 9px;

        background: url(../../assets/images/bamboo-cap2.png);
    }

    .second_text{
        position: absolute;
    height: 116px;
    width: 454px;
    left: 486px;
    right: 0px;
    top: 0px;
    }

    .second_text2{
        position: absolute;
height: 42px;
width: 454px;
left: 486px;
right: 0px;
top: 136px
    }

    .second_text3{
        position: absolute;
height: 29px;
left: 486px;
right: 241px;
top: 232px;

    }

    .second_text4{
        position: absolute;
height: 132px;
width: 454px;
left: 486px;
right: 0px;
top: 295px;
    }

    .second_img{
        display: none;
    }

    .section_third{
        position: relative;
height: 801px;
max-width: 960px;
margin: 0 auto;
left: 0px;
top: 830px;
    }

    .section_card{
        position: relative;
        box-sizing: border-box;
height: 354px;
width: 294px;
left: 0px;
right: 971px;
top: 0px;
    }

    .margin_bottom{
        margin-bottom: 94px;
    }

    .Animal_box{
        position: absolute;
width: 294px;
height: 294px;
left: 0px;
top: 0px;
    }

    .Cards_icon{
        position: absolute;
width: 294px;
height: 294px;
left: 0px;
top: 0px;
    }

    .banana_bamboo_icon{
        position: absolute;
width: 33px;
height: 37px;
left: 247px;
top: 302px;
    }

    .meat_fish_icon{
        position: absolute;
width: 48px;
height: 38px;
left: 237px;
top: 304px;

    }

    .Cards_text{
        position: absolute;
width: 221px;
height: 22px;
left: 16px;
top: 304px;

/* btn. */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-transform: uppercase;

color: #000000;
    }

    .Cards_geo{
        position: absolute;
width: 221px;
height: 18px;
left: 16px;
top: 324px;

/* smallParagraph */

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */


color: #000000;

    }

    .nav_choose_left{
        position: absolute;
width: 62px;
height: 62px;
left: 40%;
top: 1622px;
    }

    .nav_choose_right{
        position: absolute;
width: 62px;
height: 62px;
left: 55%;
top: 1622px;

    }

    .Choose_your_favorite{
        position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2);
top: 2134px;
    }

    .palm{
        position: absolute;
        width: 386px;
        height: 202px;
        left: -192px;
        top: 2126px;
        background: url(../../assets/images/palm_foto2.png);
    }

    .strelitzia{
        position: absolute;
width: 241px;
height: 180px;
right: 0px;
top: 2148px;
background: url(../../assets/images/strelitzia\ 2.png);
    }

    .section_fourth{
        position: absolute;
height: 876px;
left: 0px;
right: 0px;
top: 2328px;

    }

    .section_bg{
        position: absolute;
height: 876px;
left: 0px;
right: 0px;
top: 0px;

/* orange_gradient */

background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;
    }

    .Pick_and_feed_block{
        position: absolute;
height: 796px;
max-width: 940px;
left: 30px;
right: 30px;
top: 30px;
margin: 0 auto;

background: rgba(253, 253, 255, 0.52);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
    }

    .Block_name{
        position: absolute;
width: 100%;
height: 58px;
left: 0px;
top: 60px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

text-align: center;

color: #FE9013;
    }

    .Block_text_one{
        position: absolute;
height: 29px;
top: 138px;

/* subtitle */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */


color: #333B41;

max-width: 1061px;
    margin: 0 auto;
    padding-left: 50px;

    }

    .Block_text_two{
        position: absolute;
height: 42px;
top: 187px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #333B41;
letter-spacing: 0.1px;
max-width: 940px;
    margin: 0 auto;
    padding-left: 50px;
    }

    .Block_text_third{
        position: absolute;
height: 42px;
top: 239px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #333B41;

max-width: 1061px;
    margin: 0 auto;
    padding-left: 50px;

    }

    .Block_underline{
        position: absolute;
width: 178px;
height: 1px;
left: calc(50% - 195px/2 - 181px);
top: 280px;
    }

    .Block_How{
        position: absolute;
width: 209px;
height: 47px;
left: calc(50% - 209px/2 + 0.5px);
top: 321px;
    }

    .Widget_one{
        position: absolute;
width: 168px;
height: 244px;
left: calc(50% - 168px/2 - 298px);
top: 408px;

border-radius: 5px;
    }

    .Widget_two{
        position: absolute;
width: 168px;
height: 244px;
left: calc(50% - 168px/2);
top: 408px;

border-radius: 5px;
    }

    .Widget_three{
        position: absolute;
width: 168px;
height: 244px;
left: calc(50% - 168px/2 + 298px);
top: 408px;

border-radius: 5px;
    }

    .Block_arrow_first{
        position: absolute;
width: 69px;
height: 35.08px;
left: calc(50% - 200px/2 - 79.5px);
top: 469.52px;
    }

    .Block_arrow_second{
        position: absolute;
width: 69px;
height: 35.08px;
left: calc(50% + 120px);
top: 469px;
    }

    .Block_button{
        position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2);
top: 722px;
    }

    .section_fifth{
        position: absolute;
height: 468px;
left: 30px;
right: 30px;
top: 3304px;

    }

    .line_scroll{
        position: absolute;
width: 390px;
height: 8px;
left: 269px;
top: 488px;

    }

    .line_scroll_active{
        position: absolute;
width: 75px;
height: 6px;
left: calc(50% - 75px/2 - 163.5px);
top: 489px;
    }

    .Testimonials_first{
        box-sizing: border-box;

position: absolute;
width: 293px;
height: 391px;
left: calc(50% - 293px/2 - 323.5px);
top: 77px;

background: #F5F7F6;
border-radius: 20px;
    }

    .Testimonials_second{
        box-sizing: border-box;

position: absolute;
width: 293px;
height: 391px;
left: calc(50% - 293px/2 - 0.5px);
top: 77px;

background: #F5F7F6;
border-radius: 20px;
    }

    .Testimonials_third{
        box-sizing: border-box;

position: absolute;
width: 294px;
height: 391px;
left: calc(50% - 294px/2 + 323px);
top: 77px;

background: #F5F7F6;
border-radius: 20px;
    }

    .Testimonials_fourth{
        display: none;
    }

    .Button_feedback{
        position: absolute;
        width: 298px;
        height: 54px;
        left: calc(50% - 298px/2 - 321px);
        top: 548px;
    }

    .leav_img{
        position: absolute;
right: 0px;
top: 3807.76px;
    }

    footer{
        position: absolute;
width: 100%;
height: 443px;
left: 0px;
top: 4046px;

background: #111115;
    }

    .logo_footer{
        position: absolute;
width: 82px;
height: 52px;
left: 44px;
top: 41px;

    }

    .button_footer{
        position: absolute;
width: 298px;
height: 54px;
left: 44px;
top:161px;
    }

    .facebook{
        position: absolute;
width: 111px;
height: 26px;
left: 44px;
top:259px;

    }

    .twiter{
        position: absolute;
width: 89px;
height: 26px;
left: 44px;
top:295px;
    }

    .instagram{
        position: absolute;
width: 110px;
height: 26px;
left: 44px;
top: 331px;
    }

    .youtube{
        position: absolute;
width: 101px;
height: 26px;
left: 44px;
top: 367px;
    }

    .footer_about{
        position: absolute;
width: 43px;
height: 22px;
left: 334px;
top: 371px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;

    }

    .footer_map{
        position: absolute;
width: 32px;
height: 22px;
left: 425px;
top: 371px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
    }

    .footer_zoos{
        position: absolute;
width: 36px;
height: 22px;
left: 505px;
top: 371px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
    }

    .footer_contact{
        position: absolute;
width: 77px;
height: 22px;
left: 589px;
top: 371px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
    }

    .rsschool{
        position: absolute;
width: 220px;
height: 21px;
right: 26px;
top: 341px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */


color: #FFFFFF;

    }

    .rsschool2{
        position: absolute;
width: 228px;
height: 21px;
right: 18px;
bottom: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */


color: #FFFFFF;

    }

    .subscribe{
        position: absolute;
width: 237px;
height: 29px;
right: 179px;
top: 40px;

/* subtitle */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */


color: #FFFFFF;
    }

    .input_footer{
        position: absolute;
width: 228px;
height: 42px;
right: 188px;
top: 83px;
    }

    .footer_button{
        position: absolute;
width: 129px;
height: 42px;
right: 50px;
top: 83px;
    }
}

@media screen and (max-width:999px) {
    header{
    position: fixed;
    z-index: 20;
    height: 34px;
    width: 100%;



background: #111115;
    }

    .section_one{
        height: 385px;
    }

    .logo_header{
        position: absolute;
width: 46.93px;
height: 29.03px;
left: 20.07px;
top: 2.29px;
border: transparent;

    }

    .logo_text{
        box-sizing: border-box;

position: absolute;
width: 46.86px;
height: 29.03px;
left: 0px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12.2899px;
line-height: 120%;
/* or 15px */

text-align: center;

color: #FFFFFF;

border: 0.768116px solid #FFFFFF;
    }

    .logo_img{
        box-sizing: border-box;

position: absolute;
width: 4.54px;
height: 13.56px;
left: 6px;
top: 13.99px;

transform: matrix(-0.9, 0.52, 0.4, 0.88, 0, 0);
    }

    .header_about{
        display: none;
    }

    .header_contact{
        display: none;
    }

    .header_design{
        display: none;
    }

    .header_donate{
        display: none;
    }

    .header_map{
        display: none;
    }

    .header_zoos{
        display: none;
    }

    .giant_panda_img{
        position: absolute;
height: 385px;
left: 0px;
top: 0px;

background: url(../../assets/images/Giant\ Panda\ tablet.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

    }

    .header_button{
        position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2 - 151px);
top: 279px;

    }

    .ellipse{
        position: absolute;
width: 237.6px;
height: 237.6px;
left: calc(50% - 237.6px/2 + 130.44px);
top: 44.23px;

    }

    .text_ellipse{
        position: absolute;
width: 255.64px;
height: 204.38px;
left: calc(50% - 255.64px/2 + 176.76px);
top: 82.04px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 54.2894px;
line-height: 75%;
/* or 41px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

    }

    .section_second{
        position: relative;
height: 367px;
margin: 0 auto;
top: 433px;
max-width: 600px;

    }

    .bamboo_hat{
        width: 0;
        height: 0;
        display: none;
    }

    .second_text{
        position: absolute;
height: 116px;
left: 4px;
right: 37px;
top: 0px;

/* h2 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
/* or 58px */


/* black_blue */

color: #333B41;

    }

    .second_text2{
        position: absolute;
height: 42px;
left: 0px;
right: 41px;
top: 136px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #333B41;

    }

    .second_text3{
        position: absolute;
width: 213px;
height: 29px;
left: 0px;
top: 208px;

/* subtitle */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */


color: #333B41;

    }

    .second_text4{
        position: absolute;
height: 110px;
width: 500px;
left: 0px;
right: 0px;
top: 257px;

/* body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #333B41;
    }

    .second_img{
        display:block;
        position: absolute;
height: 484px;
width: 132px;
right: 0px;
top: 380px;

background: url(../../assets/images/flower_foto2.png);
    }

    .section_third{
        position: relative;
height: 756px;
width: 600px;
top: 510px;
margin: 0 auto;
    }

    .section_card{
        box-sizing: border-box;

width: 285px;
height: 332px;
left: 0px;
top: 0px;

border-radius: 3.89671px;
    }

    .section_card:nth-child(5), .section_card:nth-child(6) {
        display: none;
    }

    .section_card:nth-child(3){
        margin: 0;
    }

    .section_card:nth-child(4){
        margin-left: 30px;
    }

    .banana_bamboo_icon{
        position: absolute;
width: 25.72px;
height: 28.84px;
left: 250.17px;
top: 293.03px;

    }

    .meat_fish_icon{
        position: absolute;
width: 37.41px;
height: 29.62px;
left: 241.6px;
top: 291.47px;
    }

    .Animal_box{
        position: absolute;
width: 285.24px;
height: 285.24px;
left: 0px;
top: 0px;
    }

    .Cards_icon{
        position: absolute;
width: 285.24px;
height: 285.24px;
left: 0px;
top: 0px;
    }

    .Cards_text{
        position: absolute;
width: 229.13px;
height: 17px;
left: 12.47px;
top: 291.47px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12.4695px;
line-height: 140%;
/* or 17px */

text-transform: uppercase;

color: #000000;

    }

    .Cards_geo{
        position: absolute;
width: 229.13px;
height: 14px;
left: 12.47px;
top: 307.06px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 11.6901px;
line-height: 120%;
/* identical to box height, or 14px */


color: #000000;
    }

    .nav_choose_left{
        position: absolute;
width: 62px;
height: 62px;
left:unset;
right: 52%;
top: 1223px;
    }

    .nav_choose_right{
        position: absolute;
width: 62px;
height: 62px;
left: 52%;
top: 1223px;

    }

    .Choose_your_favorite{
        position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2);
top: 1696px;

    }

    .palm{
        position: absolute;
width: 385px;
height: 202px;
left: -251px;
top: 1649px;
    }

    .strelitzia{
        position: absolute;
width: 175px;
height: 131px;
right: 0px;
top: 1720px;

background: url(../../assets/images/strelitzia\ 3.png);
    }

    .section_fourth{
        position: absolute;
height: 781px;
left: 0px;
right: 0px;
top: 1850px;

background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;
    }

    .section_bg{
        position: absolute;
height: 741px;
left: 0px;
right: 0px;
top: 20px;

    }

    .Pick_and_feed_block{
        position: absolute;
height: 741px;
max-width: 600px;
left: 0px;
right: 0px;
top: 20px;

background: rgba(253, 253, 255, 0.52);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
    }

    .Block_name{
        position: absolute;
width: 405px;
height: 50px;
left: calc(50% - 405px/2 + 0.5px);
top: 30px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 120%;
/* or 50px */

text-align: center;

color: #FE9013;
    }

    .Block_text_one{
        position: absolute;
height: 52px;
width: 600px;
left: 0px;
right: 0px;
top: 100px;
padding-left: 0;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 120%;
/* or 26px */


color: #333B41;
    }

    .Block_text_two{
        position: absolute;
height: 42px;
width: 600px;    
left: 0px;
right: 0px;
top: 172px;
padding-left: 0;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #333B41;

    }

    .Block_text_third{
        position: relative;
width: 600px;
height: 42px;
left: 0px;
top: 224px;
margin: 0 auto;
padding-left: 0;

    }

    .Block_underline{
        left: calc(50% + 55px);
    top: 265px;
    }

    .Block_How{
        position: absolute;
width: 209px;
height: 47px;
left: calc(50% - 209px/2 + 0.5px);
top: 296px;

/* h3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
/* identical to box height, or 47px */


color: #333B41;

    }

    .Widget_one{
        position: absolute;
width: 168px;
height: 244px;
left: calc(50% - 168px/2 - 216px);
top: 363px;

border-radius: 5px;
    }

    .Widget_two{
        position: absolute;
width: 168px;
height: 244px;
left: calc(50% - 168px/2 - 6px);
top: 363px;

border-radius: 5px;
    }

    .Widget_three{
        position: absolute;
width: 168px;
height: 244px;
left: calc(50% - 168px/2 + 204px);
top: 363px;

border-radius: 5px;
    }

    .Block_arrow_first{
        display: none;
    }

    .Block_arrow_second{display: none;}

    .Block_button{
        position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2);
top: 647px;

    }

    .section_fifth{
        position: relative;
    top: 1560px;
    height: 434px;
    width: 640px;
    margin: 0 auto;
    right:unset;
    left: unset;
    }

    .Testimonials_first{
        box-sizing: border-box;
        overflow: hidden;

position: absolute;
height: 109px;
width: 600px;
left: 20px;
top: 77px;

background: #F5F7F6;
border-radius: 20px;
    }

    .Testimonials_second{
        box-sizing: border-box;
        overflow: hidden;

position: absolute;
height: 109px;
width: 600px;
left: 20px;

top: 201px;

background: #F5F7F6;
border-radius: 20px;
    }

    .Testimonials_third{
        box-sizing: border-box;
        overflow: hidden;

        position: absolute;
        height: 109px;
        width: 600px;
        left: 20px;

        top: 325px;
        
        background: #F5F7F6;
        border-radius: 20px; 
    }

    .user_text_box{
        position: absolute;
height: 38px;
width: 553px;
left: 18px;
right: 29px;
top: 63px;
    }

    .user_text{
        position: absolute;
height: 162px;
width: 565px;
left: 0px;
right: -12px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
/* or 18px */


/* Gray 2 */

color: #4F4F4F;
    }

    .line_scroll{
        display: none;
    }

    .line_scroll_active{
        display: none;
    }

    .Button_feedback{
        position: absolute;
width: 240px;
height: 54px;
left: calc(50% - 240px/2);
top: 477px;
    }

    .leav_img{
        position: absolute;
    width: 130px;
    height: 203px;
    right: 0px;
    top: 3165px;
    }

    footer{
        position: absolute;
height: 282px;
width: 100%;
left: 0px;
top:3299px;

background: #111115;
    }

    .footer_bg{
        position: absolute;
height: 282px;


background: #111115;
    }

    .logo_footer{
        position: absolute;
        width: 82px;
        height: 52px;
left: 22px;
top: 14px;
    }
    

    .button_footer{
        position: absolute;
width: 298px;
height: 54px;
left: 22px;
top: 98px;

/* orange */

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 5px;
    }

    .footer_about{
        position: absolute;
width: 43px;
height: 22px;
left: 22px;
top: 249px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* orange */
color: #E47209;
    }

    .footer_map{
        position: absolute;
width: 43px;
height: 22px;
left: 102px;
top:249px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* orange */

    }

    .footer_zoos{
        position: absolute;
width: 43px;
height: 22px;
left: 170px;
top: 249px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* orange */
    }

    .footer_contact{
        position: absolute;
width: 77px;
height: 22px;
left: 243px;
top:249px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
    }

    .rsschool{
        position: absolute;
width: 220px;
height: 21px;
right: 29px;
top: 219px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */


color: #FFFFFF;
    }

    .rsschool2{
        position: absolute;
width: 228px;
height: 21px;
right: 29px;
top: 250px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */


color: #FFFFFF;
    }

    .subscribe{display: none;}
    .footer_button{display: none;}
    .input_footer{display: none;}

    .facebook{position: absolute;
        width: 26px;
        height: 26px;
        right: 20px;
        left: unset;
        top: 13px;}

    .twiter{
        position: absolute;
        width: 26px;
        height: 26px;
        right: 20px;
        left: unset;
        top: 59px;
    }

    .instagram{
        position: absolute;
width: 26px;
height: 26px;
right: 20px;
left: unset;
top: 105px;

    }

    .youtube{
        position: absolute;
width: 26px;
height: 26px;
right: 20px;
left: unset;
top: 151px; 
 
    }

    .footer_text{display: none;}
}

@media screen and (max-width:639px) {
    .section_one{
        height: 233px;
    }

    .giant_panda_img{
        height: 233px;
        background: url(../../assets/images/Giant\ Panda.png);
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

    .ellipse{
        width: 119px;
    height: 119px;
    right: 273px;
    top: 68px;
    }

    .text_ellipse{
        font-size: 28px;
        line-height: 75%;
        width: 126px;
        height: 109px;
        top: 88px;
        left: calc(50% - 295px/2 + 176.76px);
    }

    .header_button{
        position: relative;
        margin: 0 auto;
        left: calc(50% - 2px/2 - 140px);
        top: 250px;
    }

    .section_second{
        max-width: 300px;
        top: 340px;
    }

    .second_text{
        max-width: 300px;
        height: unset;
        font-size: 24px;
    line-height: 120%;
    left: 4px;
    }

    .second_text2{
        max-width: 300px;
        height: unset;
        left: 4px;
        top: 68px;
    }

    .second_text3{
        max-width: 300px;
        height: unset;
        font-size: 24px;
    line-height: 120%;
    left: 4px;
    top: 150px;
    }

    .second_text4{
        max-width: 300px;
        height: unset;
        left: 4px;
        top: 190px; 
    }

    .second_img{
        width: 35px;
        height: 225px;
        background: url(../../assets/images/flower_foto3.png);
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 260px;
    }

    .section_third{
        width: 285px;
        height: 1540px;
        top: 400px;
    }

    .section_card{
        margin: 0;
    }

    .margin_left_zero{
        margin-left: 0;
    }

    .margin_bottom{
        margin-bottom: 20px;
    }

    .nav_choose_left{
        display: none;
    }

    .nav_choose_right{
        display: none;
    }
    .section_card:nth-child(3) {
        margin-bottom: 20px;
    }


    .section_card:nth-child(4) {
        margin-left: 0px;
    }

    .strelitzia{
        top: 2300px;
        width: 68px;
        height: 71px;
        background: url(../../assets/images/strelitzia\ 4.png);
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

    .palm{
        top: 2300px;
        width: 68px;
        height: 71px;
        left: unset;
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

    .Choose_your_favorite{
        top:2280px;
    }

    .section_fourth{
        top: 2371px;
        height: 1082px;
    }

    .Pick_and_feed_block{
        width: 300px;
        height: 1042px;
    }

    .Block_name{
        width: 300px;
        font-size: 24px;
    line-height: 120%;
    left: calc(50% - 300px/2 + 0.5px);

    }

    .Block_text_one{
        width: 300px;
        font-size: 18px;
    line-height: 120%;
    text-align: center;
    }

    .Block_text_two{
        display: none;
    }

    .Block_text_third{
        display: none;
    }

    .Block_underline{
        display: none;
    }

    .Block_How{
        width: 300px;
        left: calc(50% - 300px/2 + 0.5px);
        text-align: center;
        top: 180px;
        font-size: 24px;
    line-height: 120%;
    }

    .Widget_one{
        position: relative;
        height: 202px;
        margin: 0 auto;
        left: unset;
        margin-bottom: 34px;
        top: 230px;
    }

    .Widget_two{
        position: relative;
        margin: 0 auto;
        left: unset;
        margin-bottom: 34px;
        top: 230px;
    }

    .Widget_three{
        position: relative;
        margin: 0 auto;
        left: unset;
        margin-bottom: 34px;
        top: 230px;
    }

    .Widget_text{
        top: 176px;
    }

    .Block_button{
        top: 990px;
    }

    .section_fifth{
        width: 300px;
    }

    .Testimonials_first{
        width: 300px;
        left: 0px;
    }

    .Testimonials_second{
        width: 300px;
        left: 0px;
    }

    .Testimonials_third{
        width: 300px;
        left: 0px;
    }

    .leav_img{
        width: 54px;
        height: 94px;
        top: 3980px;
    }

    footer{
        top: 4050px;
    }
}
